<div class="chat-header">
    <div class="left-header">
      <div class="header-title">
        だいいちルーム
      </div>
  </div>
</div>

<div class="messages">
  <div class="message">
    <div class="message-content">
      やあ
    </div>
    <div class="message-date">
      2020/3/31(Wed) 12:43:30
    </div>
  </div>

    <div class="message">
    <div class="message-content">
      やあああああああ
    </div>
    <div class="message-date">
      2020/3/31(Wed) 12:43:35
    </div>
  </div>
</div>

<div class="form">
  <div class="form-input">
    <input class="form-message" placeholder= "コメント">
  </div>
</div>