<div class="side-bar-header">
  <%= link_to image_tag("Jikkyo-logo.png", class:"jikkyo-icon"), "/"%>
</div>

<div class="rooms">
  <div class="room">
    <div class="room-name">
      <a href="#">だいいちルーム</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">だいにルーム</a>
    </div>
  </div>
</div>

<div class="side-bar-bottom">
  <div class="create-room">
    <a href="#">新規ルーム作成</a>
  </div>
</div>