<div class="side-bar-header">
  <%= link_to image_tag("Jikkyo-logo.png", class:"jikkyo-icon"), "/"%>
</div>

<div class="rooms">
  <% @rooms.each do |room| %>
    <div class="room">
      <div class="room-name">
        <a href="#"><%= room.name %></a>
      </div>
    </div>
  <% end %>
</div>

<div class="side-bar-bottom">
  <div class="create-room">
    <%= link_to "新規ルーム作成", new_room_path %>
  </div>
</div>